<h1>
  <%= @person.name %>
</h1>

<blockquote>
  <p>Name:&emsp;<%= @person.name %></p>
  <br />
  <p>Age:&emsp;<%= @person.age %></p>
  <br />
  <p>Hair Color:&emsp;<%= @person.hair_color %></p>
  <br />
  <p>Eye Color:&emsp;<%= @person.eye_color %></p>
  <br />
  <p>Gender:&emsp;<%= @person.gender %></p>
  <br />
  <p>Alive??:p&emsp;<%= @person.alive %></p>
  <br />
</blockquote>

<i>
  Posted At: <%= @person.created_at %>
</i>

<br />
<%= link_to 'All Posts', people_path %>
